@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-*: initial;

    --color-white: #FFFFFF;
    --color-grey-800: #050505;
    --color-grey-700: #1F1F1F;
    --color-grey-600: #2D2D2D;
    --color-grey-500: #3A3A3A;
    --color-grey-400: #757575;
    --color-grey-200: #E9E9E9;
    --color-grey-100: #F4F4F4;
    --color-purple-500: #A445ED;
    --color-red-500: #FF5252;

    --font-sans: "Inter", sans-serif;
    --font-serif: "Lora", serif;
    --font-mono: "Inconsolata", monospace;

    --text-sm: 0.875rem; /* 14px */
    --text-base: 1rem;  /* 16px */
    --text-md: 1.125rem; /* 18px */
    --text-lg: 1.25rem; /* 20px */
    --text-xl: 1.5rem; /* 24px */
    --text-2xl: 2rem; /* 32px */
    --text-3xl: 4rem; /* 64px */

}

/* 14 16 18 20 24 32 64 */

